server:
  port: 8082
  shutdown: graceful
  compression:
    enabled: true

spring:
  application:
    name: transaction-service
  lifecycle:
    timeout-per-shutdown-phase: 30s
  datasource:
    url: jdbc:postgresql://postgres:5432/finstream
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  kafka:
    bootstrap-servers: kafka:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

grpc:
  client:
    walletService:
      address: static://wallet-service:9091
      negotiation-type: plaintext

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics
  health:
    db:
      enabled: true
